* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: $fontPrincipal;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $colorPrincipal;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  display: flex;
  flex-direction: column;
}

.tituloSeccion{
    font-size: 40px;
    font-weight: 400;
    &--blanco{
        color: $colorFontBotones;
    }
    &--negro{
        color: #212121;
    }
}
