* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $colorPrincipal;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  display: flex;
  flex-direction: column;
}
