//Variables
$colorPrincipal: #ffffff;
$colorFooter: #212121;
$colorBanners: rgba(0, 0, 0, 0.5);
$colorBotones: #986662;
$colorFontBotones: #e8e5e5;
$colorFontPrincipal: #212121;

$fontPrincipal: "Barlow Semi Condensed", sans-serif; ;
