//Variables
$colorPrincipal: #ffffff;
$colorFooter: #212121;
$colorBanners: rgba(0, 0, 0, 0.5);
$colorBotones: #959e35;
$colorFontBotones: #dedcb5;
$colorFontPrincipal: #212121;

$fontPrincipal: "Asap Condensed", sans-serif;
