footer {
  width: 100%;
  height: 50vh;
  padding: 0 10%;
  display: flex;
  flex-flow: column nowrap;
  background-color: $colorFooter;
  .redes {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    overflow-y: hidden;
    h4 {
      color: #e8e5e5;
      padding: 2% 0;
      font-size: 25px;
      overflow-y: hidden;
      span {
        margin-left: 20px;
        overflow-y: hidden;
      }
    }
  }
  .mapa {
    width: 100%;
    height: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
}
.redes h4:hover {
  color: rgb(211, 181, 105);
}
.redes .fa-instagram,
.redes .fa-facebook-square,
.redes .fa-whatsapp {
  color: #e8e5e5;
}
@media screen and (min-width: 576px) {
  footer {
    flex-flow: row nowrap;
    padding: 20px;
    .redes {
      width: 50%;
      height: 100%;
      justify-content: space-between;
      padding: 30px 50px;
    }
    .mapa {
      width: 50%;
      height: 100%;
      margin: 0;
      padding: 10px;
    }
  }
}
